USE [master]
GO
/****** Object:  Database [Econtact]    Script Date: 6/29/2019 9:17:55 AM ******/
CREATE DATABASE [Econtact]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Econtact', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.DIMASSQL\MSSQL\DATA\Econtact.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Econtact_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.DIMASSQL\MSSQL\DATA\Econtact_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Econtact].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Econtact]
GO
/****** Object:  Table [dbo].[tbl_contact]    Script Date: 6/29/2019 9:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](50) NULL,
	[Ponsel] [varchar](15) NULL,
	[Jekel] [varchar](20) NULL,
	[Alamat] [varchar](255) NULL,
 CONSTRAINT [PK_tbl_contact] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
